<!-- navbar -->
<matsukaze-navbar></matsukaze-navbar>

<!-- splash -->
<matsukaze-splash
  [img]="'assets/img/artwork/IXP.jpg'"
  [title]="'content.history.families.title' | translate"
  [arrow]="true"></matsukaze-splash>

<!-- content -->
<div class="container-fluid content">
  <div class="card text-center digenes-font black">
    <div class="card-body">
      <!-- <h4 class="card-title title"></h4> -->
      <a href="assets/img/artwork/family-tree-large.jpg">
        <img class="card-img-top img-responsive" src="assets/img/artwork/family-tree-large.jpg" loading='lazy'>
      </a>
    </div>
  </div>

  <!-- copyright -->
  <matsukaze-copyright></matsukaze-copyright>

</div>
