@import "../../../../../../styles/_variables.scss";

.background {
  fill: #FFFFFF;
}

.line {
  stroke: #000000;
  stroke-width: 0.666667;
  stroke-miterlimit: 8;
  fill:none;
  fill-rule:evenodd;
}

.line-dash {
  stroke: #000000;
  stroke-width: 0.666667;
  stroke-miterlimit: 8;
  stroke-dasharray: 2 0.666667;
  fill: #FFFFFF;
  fill-rule: evenodd;
}

.house {
  stroke: #000000;
  stroke-width: 0.666667;
  stroke-miterlimit: 8;
  stroke-dasharray:2.66667 2;
  fill: none;
}

.house-name {
  font-family: Calibri,sans-serif;
  font-weight: 700;
  font-size: 14pt;
}

.person > text {
  font-family: Calibri,sans-serif;
  font-weight: 400;
  font-size: 6pt;
}

.person > rect {
  width: 42px;
  height: 21px;
  stroke: #000000;
  stroke-width: 0.666667;
  stroke-miterlimit: 8;
  fill:none;
}

.person .emperor > rect {
  fill: #7030A0;
}

.person .emperor > text {
  fill: red;
}
