<!-- navbar -->
<matsukaze-navbar></matsukaze-navbar>

<!-- splash -->
<matsukaze-splash
  [img]="'assets/img/artwork/IXP.jpg'"
  [title]="'content.history.families.title' | translate"
  [arrow]="true"></matsukaze-splash>

<!-- content -->
<div class="container-fluid content">

  <!-- synopsis -->
  <div class="container padded">
    <div class="card digenes-font">
      <!-- img -->
      <div class="card-title title digenes-font">
        <h3><span [innerHTML]="'' | translate"></span></h3>
      </div>
      <div class="card-text digenes-font">
        <span [innerHTML]="'' | translate"></span>
      </div>
    </div>
  </div>

  <!-- houses -->
  <div class="container padded">
    <div class="row">
      <div class="col-lg-6">
        <div class="card digenes-font">
          <!-- img -->
          <div class="card-title title digenes-font">
            <h3><span [innerHTML]="'content.history.families.houses.macedon.name' | translate"></span></h3>
          </div>
          <div class="card-text digenes-font">
            <span [innerHTML]="'' | translate"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card digenes-font">
          <!-- img -->
          <div class="card-title title digenes-font">
            <h3><span [innerHTML]="'content.history.families.houses.phokas.name' | translate"></span></h3>
          </div>
          <div class="card-text digenes-font">
            <span [innerHTML]="'' | translate"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card digenes-font">
          <!-- img -->
          <div class="card-title title digenes-font">
            <h3><span [innerHTML]="'content.history.families.houses.skleros.name' | translate"></span></h3>
          </div>
          <div class="card-text digenes-font">
            <span [innerHTML]="'' | translate"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card digenes-font">
          <!-- img -->
          <div class="card-title title digenes-font">
            <h3><span [innerHTML]="'content.history.families.houses.doukas.name' | translate"></span></h3>
          </div>
          <div class="card-text digenes-font">
            <span [innerHTML]="'' | translate"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center digenes-font black">
    <div class="card-body">
      <!-- <h4 class="card-title title"></h4> -->
      <a href="assets/img/artwork/family-tree-large.jpg">
        <img class="card-img-top img-responsive" src="assets/img/artwork/family-tree-large.jpg" loading='lazy'>
      </a>
    </div>
  </div>

  <!-- copyright -->
  <matsukaze-copyright></matsukaze-copyright>

</div>
