<ngx-spinner></ngx-spinner>
<form>
  <div class="form-group">
    <h3>{{'auth.flows.reset.reset.labels.reset' | translate}}</h3>
  </div>

  <matsukaze-password-checker [(password)]="password"></matsukaze-password-checker>

  <div class="form-group">
    <div *ngIf="error"><small class="form-text">{{error | translate}}</small></div>
  </div>

  <div class="form-group">
    <button class="btn btn-warning"
        type="submit"
        style="width: 100%"
        (click)="onSubmit()">{{'auth.flows.reset.reset.labels.submit' | translate}}</button>
  </div>

</form>
