@import "../../../../../../styles/_variables.scss";

.splash {
  position: fixed;
  top: 0;
}

.splash-img {
  height: 100%;
  width: 100%;
  z-index: -1000;
  object-fit: cover;
  background-color: rgba(0,0,0,1);
}

.arrow {
  text-shadow: 2px 1px 4px rgba(0,0,0,1);
}

.gradient {
  // -webkit-mask-image:-webkit-gradient(linear, top, bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(rgba(0,0,0,1), transparent);
}

.blank {
  display: table;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.text {
  position: absolute;
  bottom: 10vh;
  z-index: 0;
  width: 100%;
}

.text > .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text > .title > .title-element {
  margin: auto;
  flex: 1 0 auto;
}

.text > .title > .arrow {
  margin-top: 1em;
}
