<!-- navbar -->
<matsukaze-navbar></matsukaze-navbar>

<!-- splash -->
<matsukaze-splash img="assets/img/artwork/expression_sheet.jpg"
  [title]="'content.artwork.title' | translate"
  [arrow]="true"
  [gradient]="true"></matsukaze-splash>

<!-- artwork -->
<div class="content">
  <div class="container-fluid">
    <img src="assets/img/artwork/memories.jpg" class="img-responsive" loading="lazy"/>    
    <img src="assets/img/artwork/digenes_wide.jpg" class="img-responsive" loading="lazy"/>
    <img src="assets/img/artwork/bardas_wide.jpg" class="img-responsive" loading="lazy"/>
    <img src="assets/img/artwork/slaughter.jpg" class="img-responsive" loading="lazy"/>
    <img src="assets/img/artwork/battle.jpg" class="img-responsive" loading="lazy"/>
    <img src="assets/img/artwork/vassilios.jpg" class="img-responsive" loading="lazy"/>
    <img src="assets/img/artwork/abdel.jpg" class="img-responsive" loading="lazy"/>
  </div>

  <!-- copyright -->
  <matsukaze-copyright></matsukaze-copyright>

</div>
