<!-- navbar -->
<matsukaze-navbar></matsukaze-navbar>

<!-- splash -->
<matsukaze-splash img="assets/img/artwork/expression_sheet.jpg"
  [title]="'content.artwork.title' | translate"
  [arrow]="true"
  [gradient]="true"></matsukaze-splash>

<!-- artwork -->
<div class="content">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-3">
        <div class="card text-center digenes-font">
          <a href="assets/img/artwork/cover.jpg">
            <img class="card-img-top img-responsive" src="assets/img/artwork/cover.jpg" loading="lazy">
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center digenes-font">
          <a href="assets/img/artwork/digenes-and-bardas.jpg">
            <img class="card-img-top img-responsive" src="assets/img/artwork/digenes-and-bardas.jpg" loading="lazy">
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center digenes-font">
          <a href="assets/img/artwork/phokas-family.jpg">
            <img class="card-img-top img-responsive" src="assets/img/artwork/phokas-family.jpg" loading="lazy">
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center digenes-font">
          <a href="assets/img/artwork/vassilios-and-romanos.jpg">
            <img class="card-img-top img-responsive" src="assets/img/artwork/vassilios-and-romanos.jpg" loading="lazy">
          </a>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-3">
        <div class="card text-center digenes-font">
          <a href="assets/img/artwork/vassilios-and-sophia.jpg">
            <img class="card-img-top img-responsive" src="assets/img/artwork/vassilios-and-sophia.jpg" loading="lazy">
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center digenes-font">
          <a href="assets/img/artwork/maximo.jpg">
            <img class="card-img-top img-responsive" src="assets/img/artwork/maximo.jpg" loading="lazy">
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center digenes-font">
          <a href="assets/img/artwork/battle-full.jpg">
            <img class="card-img-top img-responsive" src="assets/img/artwork/battle-full.jpg" loading="lazy">
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center digenes-font">
          <a href="assets/img/artwork/pg13.jpg">
            <img class="card-img-top img-responsive" src="assets/img/artwork/pg13.jpg" loading="lazy">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- copyright -->
  <matsukaze-copyright></matsukaze-copyright>

</div>
