// GLOBAL-----------------------------------------------------------------------
$matsukaze-navbar-height: 60px;
$matsukaze-navbar-color: rgba(0,0,0,0.8);
$matsukaze-red: rgba(180,0,0,1);
$matsukaze-red-line: rgba(100,0,0,1);
$matsukaze-white: rgb(230,230,230,1);
$matsukaze-border: rgb(230,230,230,0.4);
$matsukaze-transparency: rgba(255,255,255,0.05);
$matsukaze-transparency-standout: rgba(255,255,255,0.15);
$matsukaze-highlight: rgba(255,255,255,0.2);
$matsukaze-margin-base: 0.5em;
$matsukaze-padding-top: 1em;
$matsukaze-padding-base: 0.5em;
$matsukaze-padding-wide: 1em;
$matsukaze-border-radius: 0.5em;
$matsukaze-scrollbar-width: 10px;


// OUTLINE----------------------------------------------------------------------
$matsukaze-workspace-navigation-width: 60%;
$matsukaze-outline-notes-width: 15em;
$matsukaze-outline-level-indent: 1em;
$matsukaze-outline-dialogue-width: 35em;
$matsukaze-outline-control-width: 2em;
$matsukaze-outline-label-width: 8em;
$matsukaze-outline-dropzone-height: 2em;
$matsukaze-outline-sidenav-font-size: 10pt;

// STORYBOARD ------------------------------------------------------------------
$matsukaze-storyboard-column-width: 300px;
$matsukaze-storyboard-card-width: $matsukaze-storyboard-column-width - 2*$matsukaze-scrollbar-width;

// BOOTSTRAP -------------------------------------------------------------------

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);
