@import "../../../../../../styles/_variables.scss";
$transparency: 0.7;

.padded {
  padding: 3em 0 3em 0;
}

/* ACTION *******************************************************************/
.action {
  position: fixed;
  bottom: 2em;
}

@media (max-width: 640px) {
  .action {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 640px) {
  .action {
    left: 2em;
  }
}

/* QUOTE ********************************************************************/
.quote {
  position: relative;
  height: 100%;
  width: 100%;
}

.quote > .portraits {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.quote > .text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0,0,0,$transparency);
  z-index: 100;
}

@media (max-width: 640px) {
  .quote > .text > h1 {
    font-size: 150%;
  }
}

/* SYNOPSIS ******************************************************************/
.synopsis {
  height: 100%;
  width: 100%;
}

.synopsis > .container > .card {
  background-color: rgba(0,0,0,$transparency);
}

.deer {
  width: 100%;
  text-align: center;
}

.deer > img {
  width: 80%;
  max-width: 500px;
}

/* BATTLE ********************************************************************/
.battle {
  width: 100%;
  padding: 0 $matsukaze-padding-base 0 $matsukaze-padding-base;
  text-align: center;
}

.battle > img {
  width: 100%;
}

/* COVER ********************************************************************/
.cover {
  height: 100%;
  width: 100%;
}

.cover > .container > .row > .col > .card {
  background-color: rgba(0,0,0,$transparency);
}

.cover-img {
  width: 80%;
  max-width: 500px;
}

.news-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
}

/* MAILING LIST *************************************************************/
.subscribe {
  // background-color: rgba(0,0,0,1);
}
