@import "../../../../../../styles/_variables.scss";

/* CAROUSEL *****************************************************************/

.carousel-item {
   width: 100vw;
   height: 100vh;
}

/* QUOTE ********************************************************************/
.quote {
  position: absolute;
  text-align: center;
  width: 100%;
}

.quote > h1 {
  bottom: 0px;
  padding: 1em;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.4);
}

@media (max-width: 768px) {
  .quote > h1 {
    font-size: 150%;
  }
}

/* TITLE *********************************************************************/
.title {
  display: flex;
  justify-content: center;
}

.title > h1,h2,h3 {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-bottom: 0.25em;
  border-bottom-color: rgba(255,0,0,0.4);
  border-bottom-style: solid;
}

/* SYNOPSIS ******************************************************************/
.synopsis-img {
  position: relative;
}

.synopsis-img > h1 {
  display: fixed;
  position: absolute;
  padding: 20px;
  color: rgba(0,0,0,0.8);
}

.card {
  background-color: rgba(255,255,255,0.05);
  padding: 10%;
  margin: 10px;
}
