<!-- navbar -->
<matsukaze-navbar></matsukaze-navbar>

<!-- splash -->
<matsukaze-splash
    [img]="'content.home.images.splash'"
    [arrow]="true"></matsukaze-splash>

<!-- content -->
<div class="content">

  <!-- quote -->
  <div class="block">
    <div class="quote">
      <div class="portraits">
        <div class="container-fluid">
          <div class="row block no-gutters">
            <div class="col-lg-6">
              <div class="block" style="height: 100%; width: 100%; background: #000 url('/assets/img/artwork/digenes.jpg') no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;"></div>
            </div>
            <div class="col-lg-6">
              <div class="block" style="height: 100%; width: 100%; background: #000 url('/assets/img/artwork/bardas.jpg') no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="text">
        <h1 class="digenes-font">
          <span [innerHTML]="'content.home.text.quote' | translate"></span>
        </h1>
      </div>
    </div>
  </div>

  <!-- synopsis -->
  <div class="padded synopsis">
    <div class="container">
      <div class="card digenes-font">
        <div class="deer">
          <img src="/assets/img/artwork/deer-of-death.png">
        </div>
        <div class="card-title title digenes-font">
          <h3><span [innerHTML]="'content.home.text.synopsis.premise' | translate"></span></h3>
        </div>
        <div class="card-text">
          <h5><span [innerHTML]="'content.home.text.synopsis.punchline' | translate"></span></h5>
          <span [innerHTML]="'content.home.text.synopsis.detail' | translate"></span>
        </div>
      </div>
    </div>
  </div>

  <!-- cover -->
  <div class="padded cover">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col col-lg-6">
          <div class="card text-center digenes-font">
            <a [routerLink]="['/preorder']">
              <img class="card-img-top img-responsive" src="assets/img/artwork/mark-of-cain-artwork.jpg">
            </a>
            <div class="card-body">
              <h4 class="card-title title">{{'content.home.news.title' | translate}}</h4>
              <div class="card-text">
                <p class="news-text">{{'content.home.news.text' | translate}}</p>
                <p class="news-text">{{'content.home.news.publisher' | translate}}</p>
              </div>
              <a [routerLink]="['/preorder']" class="btn btn-primary">{{'content.home.news.action' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Battle of Abydos -->
  

  <!-- mailing list -->
  <div class="padded subscribe #subscribe">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col col-lg-6">
          <div class="card text-center digenes-font">
            <div class="card-body">
              <h4 class="card-title title">{{'content.home.subscribe.title' | translate}}</h4>
              <div class="card-text">
                <matsukaze-mailing></matsukaze-mailing>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- copyright -->
  <matsukaze-copyright></matsukaze-copyright>
</div>
