<!-- navbar -->
<matsukaze-navbar></matsukaze-navbar>

<!-- splash -->
<matsukaze-splash img="assets/img/artwork/manuscript.jpg"
    [title]="'content.history.about.title' | translate"
    [arrow]="true"
    [gradient]="true"></matsukaze-splash>

    <!-- content -->
    <div class="container-fluid content">
      <!-- narrative -->
      <div class="padded synopsis">
        <div class="container">
          <div class="card digenes-font">
            <div class="card-text digenes-font">
              <span [innerHTML]="'content.history.about.narrative' | translate"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- call to action -->
      <div class="cover">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col col-lg-6">
              <matsukaze-call-to-action></matsukaze-call-to-action>
            </div>
          </div>
        </div>
      </div>

      <!-- copyright -->
      <matsukaze-copyright></matsukaze-copyright>
    </div>
