<nav class="navbar navbar-expand-md fixed-top" id="mainNav">
  <div class="container-fluid">
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navcol-1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="['/']" [queryParams]="{lang: lang}" class="navbar-brand">
      <img src="assets/img/artwork/eagle.png"/>
    </a>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown">
          <a class="nav-link text-shadow dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">{{'navbar.language' | translate}}</a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item js-scroll-trigger" (click)="onChangeLang('en')" [routerLink]="['.']" [queryParams]="{lang: 'en'}" queryParamsHandling="merge">English</a>
            <a class="dropdown-item js-scroll-trigger" (click)="onChangeLang('el')" [routerLink]="['.']" [queryParams]="{lang: 'el'}" queryParamsHandling="merge">Ελληνικα</a>
          </div>
        </li>
        <li class="dropdown">
          <a class="nav-link text-shadow dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">{{'navbar.books' | translate}}</a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item js-scroll-trigger" [routerLink]="['/summary']" [queryParams]="{lang: lang}">{{'navbar.summary' | translate}}</a>
            <a class="dropdown-item js-scroll-trigger" [routerLink]="['/books']" [queryParams]="{lang: lang}">{{'navbar.publications' | translate}}</a>
            <a class="dropdown-item js-scroll-trigger" [routerLink]="['/sample']" [queryParams]="{lang: lang}">{{'navbar.sample' | translate}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-shadow" [routerLink]="['/team']" [queryParams]="{lang: lang}">{{'navbar.team' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-shadow" [routerLink]="['/contact']" [queryParams]="{lang: lang}">{{'navbar.contact' | translate}}</a>
        </li>
        <li class="nav-item">
          <a *ngIf="user" [routerLink]="['/home']" [queryParams]="{lang: lang}" class="nav-link text-shadow">{{'navbar.account' | translate}}</a>
          <a *ngIf="!user" [routerLink]="['/home']" [queryParams]="{lang: lang}" class="nav-link text-shadow">{{'navbar.login' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
