<!-- navbar -->
<matsukaze-navbar></matsukaze-navbar>

<!-- splash -->
<matsukaze-splash
  [img]="'assets/img/artwork/eagle.jpg'"
  [title]="'content.team.title' | translate"
  [gradient]="true"
  [arrow]="true"></matsukaze-splash>

<div class="content">
  <!-- team -->
  <div class="container">
    <div *ngFor="let row of team" class="row">
      <div *ngFor="let member of row" class="col-md-6">
        <div class="card">
          <img class="card-img-top grayscale rounded-circle" src="/assets/img/photos/{{member}}.jpg" alt="Card image cap">
          <div class="card-body digenes-font">
            <h4 class="card-title title">{{'content.team.text.members.' + member + '.name' | translate}}</h4>
            <p class="card-text">{{'content.team.text.members.' + member + '.bio' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- copyright -->
  <matsukaze-copyright></matsukaze-copyright>
</div>
