<div class="call-to-action padded">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-6">
        <div class="card text-center digenes-font black">
          <div class="card-body">
            <h4 class="card-title title">{{'content.home.news.title' | translate}}</h4>
            <a *ngIf="action | async; else noAction" [routerLink]="['/order']">
              <img *ngIf="src | async" class="card-img-top img-responsive" src="assets/img/artwork/call-to-action/{{src | async}}">
            </a>
            <ng-template #noAction>
              <img *ngIf="src | async" class="card-img-top img-responsive" src="assets/img/artwork/call-to-action/{{src | async}}">
            </ng-template>
            <div class="card-text">
              <div class="news">
                <p class="news-text">{{'content.home.news.text' | translate}}</p>
                <p class="news-text">{{'content.home.news.publisher' | translate}}</p>
              </div>
              <matsukaze-order *ngIf="action | async" link="{{'content.home.news.link' | translate}}" text="{{'content.home.news.action' | translate}}"></matsukaze-order>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
