@import "../../../../../../styles/_variables.scss";

.call-to-action {
  height: 100%;
  width: 100%;
}

.news {
  padding-top: 2*$matsukaze-padding-base;
}

.news-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
}
