table {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  border: none;
  padding: none;
}

.wide {
  width: 35%;
}

.thin {
  width: 30%;
}

.content-image-div {
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
