@import "../../../../../../styles/_variables.scss";

/* COPYRIGHT ******************************************************************/
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  text-align: center;
  font-size: small;
}
