@import "../../../../../../styles/_variables.scss";

/* SOCIAL *******************************************************************/
div.social-icon {
  text-align: center;
  width: 100%;
}

i.social-icon {
  font-size: 3em;
  color: grey;
  margin: 0 0.5em 0 0.5em;
}

/* COPYRIGHT ******************************************************************/
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  padding-top: $matsukaze-padding-top;
}

.gold-leaf {
  height: 100px;
}
