<div class="padded">
  <div class="container-fluid">
    <div class="row justify-content-lg-center">
      <div class="col-lg-12">
        <div class="social-icon">
          <a href="https://www.facebook.com/digenesbook"><i class="bi-facebook social-icon"></i></a>
          <a href="https://www.instagram.com/digenesbook/"><i class="bi-instagram social-icon"></i></a>
          <a href="https://twitter.com/digenesbook"><i class="bi-twitter social-icon"></i></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-lg-center">
      <div class="col-lg-12">
        <div class="copyright digenes-font">
          <div>
            <p>© 2018 Aethon Holdings Private Limited. <br />All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
