@import "../../../../../../styles/_variables.scss";

/* COPYRIGHT ******************************************************************/
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
}

.gold-leaf {
  height: 150px;
}
