@import "../../../../../../styles/_variables.scss";

.content {
  padding: 3em 0 0 0;
}

.cover {
  max-width: 300px;
  margin: auto;
}

.text-center {
  text-transform: uppercase;
}

.card-footer {
  background-color: rgba(0,0,0,0);
}

.card-img-top {
  border-radius: 10px;
}
