<!-- navbar -->
<matsukaze-navbar></matsukaze-navbar>

<!-- splash -->
<matsukaze-splash img="assets/img/artwork/cover.jpg"
  title="content.books.title"></matsukaze-splash>

<!-- content -->
<div class="container-fluid content">
  <!-- books -->
  <div class="container">
    <div *ngFor="let row of books" class="row">
      <div *ngFor="let book of row" class="col-md-6">
        <div class="card">
          <img class="card-img-top cover" src="./assets/img/artwork/{{'content.books.text.books.' + book + '.img' | translate}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title title">{{'content.books.text.books.' + book + '.title' | translate}}</h4>
            <p class="card-text text-center">{{'content.books.text.books.' + book + '.date' | translate}}</p>
            <div *ngIf="book.sample" class="text-center">
              <a href="{{'content.books.text.books.' + book + '.sample.id' | translate}}" class="btn btn-primary">
                {{'content.books.text.books.' + book + '.sample.label' | translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <matsukaze-copyright></matsukaze-copyright>
</div>
