<!-- navbar -->
<matsukaze-navbar></matsukaze-navbar>

<!-- splash -->
<matsukaze-splash img="assets/img/artwork/cover.jpg"
  [title]="'content.books.title' | translate"
  [arrow]="true"></matsukaze-splash>

<!-- content -->
<div class="container-fluid content">
  <!-- books -->
  <div class="container">
    <div *ngFor="let row of books" class="row">
      <div *ngFor="let book of row" class="col-md-6">
        <div *ngIf="book" class="card">
          <img class="card-img-top cover" src="./assets/img/artwork/{{'content.books.text.books.' + book + '.img' | translate}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title title">{{'content.books.text.books.' + book + '.title' | translate}}</h4>
            <p class="card-text text-center">{{'content.books.text.books.' + book + '.date' | translate}}</p>
            <div *ngIf="book==1" class="text-center">
              <matsukaze-order></matsukaze-order>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <matsukaze-copyright></matsukaze-copyright>
</div>
