<form>
  <div class="form-group">
    <input [(ngModel)]="email"
        name="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        autocomplete="username"
        placeholder="{{'auth.email' | translate}}">
    <small id="emailHelp" class="form-text text-muted">{{'auth.privacy' | translate}}</small>
  </div>
  <div class="form-group">
    <input [(ngModel)]="password"
        type="password"
        name="password"
        class="form-control"
        id="password"
        autocomplete="new-password"
        (ngModelChange)="onPasswordChange()"
        placeholder="{{'auth.password' | translate}}">
  </div>
  <div class="form-group">
    <input [(ngModel)]="verifyPassword"
        type="password"
        name="verifyPassword"
        class="form-control"
        id="verifyPassword"
        autocomplete="new-password"
        (ngModelChange)="onPasswordChange()"
        placeholder="{{'auth.confirmPassword' | translate}}">
  </div>
  <div class="form-group">
    <button class="btn btn-warning" style="width: 100%" (click)="onCreate()">{{'auth.create' | translate}}</button>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" style="width: 100%" (click)="onChangeState('login')">{{'auth.alreadyHaveAccount' | translate}}</button>
  </div>
  <div class="account-management">
    <a href="#">{{'auth.forgot' | translate}}</a>
  </div>
  <div *ngIf="error">{{error | translate}}</div>
</form>
